/* custom navbar */
.custom-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* fb search bar */
div[role="search"] {
    top: 0;
    width: 190px !important;
}

div.uiContextualLayer.uiContextualLayerBelowLeft {
    width: 190px;
    min-width: unset;
}

/* custom search bar */
.custom-search-bar {
    padding: 1px 5px 0;
    background-color: #fff;
    border: 1px solid #3b5998;
    border-radius: 3px;
}

.custom-search-bar input {
    width: 185px;
    height: 22px;
    border: none;
    outline: none;
}

/* custom button */
.custom-button {
    padding: 0 5px;
}

.custom-button .fa {
    margin: 0 1px;
    cursor: pointer;
    color: #18243D;
    font-size: 22px;
}
